<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBiBcD_X7Hsd9JIXFLC-QmMgpRdVI4WREo</string>
	<key>GCM_SENDER_ID</key>
	<string>507765175555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.calUpdate</string>
	<key>PROJECT_ID</key>
	<string>cal-update-e6a49</string>
	<key>STORAGE_BUCKET</key>
	<string>cal-update-e6a49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:507765175555:ios:19db1502f1d5d0ae326536</string>
</dict>
</plist>